/* VARIABLES */
:root {
  --light-background: #f2ece4;
  --light-text: #036;
  /* --main-text-color : #fff; */
  /* --main-bg-color : #fff; */
  /* --main-font-size : 16px; */
  /* --main-line-height : 1.5; */
}

/* MIXINS */ /**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* FONTS */
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("/fonts/poppins-v20-latin-regular.woff") format("woff");
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("/fonts/poppins-v20-latin-500.woff2") format("woff2"), url("/fonts/poppins-v20-latin-500.woff") format("woff");
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("/fonts/poppins-v20-latin-600.woff2") format("woff2"), url("/fonts/poppins-v20-latin-600.woff") format("woff");
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/poppins-v20-latin-700.woff2") format("woff2"), url("/fonts/poppins-v20-latin-700.woff") format("woff");
}
/* poppins-900 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("/fonts/poppins-v20-latin-900.woff2") format("woff2"), url("/fonts/poppins-v20-latin-900.woff") format("woff");
}
/* GENERAL */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  /* line-height: var(--main-line-height); */
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding-top: 5px;
  padding-bottom: 5px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 174, 26, 0.3)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 174, 26, 0.3) 100%);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-href {
  display: inline-block;
}

.header__logo-img {
  max-width: 196px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__item {
  margin-right: 37px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__box-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__box-before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__box-before::before {
  content: "";
  display: block;
  width: 36px;
  height: 38px;
  margin-right: 16px;
  background-image: url("/images/tel.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.header__murojat {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #737373;
}

.header__language-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-right: 27px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  border: none;
  background: none;
}

.header__language-button::before {
  content: "";
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 10px;
  background-image: url("/images/bayroq-uzbekistan.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__tel {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #252525;
  text-decoration: none;
}

@media only screen and (max-width: 1330px) {
  .header__item {
    margin-right: 27px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }
  .header__language-button {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }
  .header__murojat {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }
  .header__tel {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }
  .header__logo-img {
    max-width: 150px;
  }
  .header__logo-href {
    margin-right: 40px;
  }
}
@media only screen and (max-width: 1140px) {
  .header__box-before {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .header__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 10px;
  }
  .header__box-before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.hero {
  padding-top: 80px;
  padding-bottom: 915px;
  position: relative;
}

#sandbox {
  background-color: #fff;
  position: absolute;
  z-index: -12;
}

.hero__mini-animatiya-big-box {
  position: absolute;
  top: -1%;
  left: 0%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("/images/katta_nuqtalar.svg");
  background-repeat: no-repeat;
  background-position: 0 40px;
  background-size: 100%;
}

.hero__box {
  max-width: 547px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.hero__onvite-text {
  margin: 0;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 900;
  font-size: 95px;
  line-height: 110.5%;
}

.hero__onvite {
  font-weight: 900;
  font-size: 100px;
  color: #ff552d;
}

.hero__digital {
  font-size: 136px;
}

.hero__solution {
  font-size: 90px;
}

.hero__mini-text {
  display: inline-block;
  margin-bottom: 23px;
  font-weight: 900;
  font-size: 26px;
  line-height: 111.5%;
}

.hero__mini-text::after {
  content: "";
  width: 25px;
  height: 44px;
  margin-top: 23px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  background-image: url("/images/strelka.svg");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: anni 3s infinite;
          animation: anni 3s infinite;
}

@-webkit-keyframes anni {
  0%, 100% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes anni {
  0%, 100% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 174, 26, 0.3)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 174, 26, 0.3) 100%);
}

::-webkit-scrollbar-thumb {
  background-color: #ff552d;
  border-radius: 9em;
  -webkit-box-shadow: inset 1px 1px 10px #f3faf7;
          box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1f1d2b;
}

@media only screen and (max-width: 1124px) {
  .hero {
    padding-bottom: 1087px;
  }
}
@media only screen and (max-width: 720px) {
  #sandbox {
    display: none;
  }
  .hero__onvite-text {
    margin-bottom: 60px;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 111.5%;
  }
  .hero__onvite {
    font-weight: 700;
    font-size: 60px;
    color: #ff552d;
  }
  .hero__digital {
    font-size: 80px;
  }
  .hero__solution {
    font-size: 50px;
  }
  .hero__mini-text {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 26px;
    line-height: 111.5%;
  }
  .hero {
    padding-top: 110px;
    padding-bottom: 1275px;
    position: relative;
  }
}
@media only screen and (max-width: 420px) {
  .hero__onvite-text {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 60px;
  }
  .hero__onvite {
    font-weight: 400;
    font-size: 40px;
    color: #ff552d;
  }
  .hero__digital {
    font-size: 70px;
  }
  .hero__solution {
    font-size: 40px;
  }
  .hero__mini-text {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 20px;
    line-height: 111.5%;
  }
  .hero {
    padding-top: 110px;
    padding-bottom: 1386px;
    position: relative;
  }
}
.qisqacha {
  width: 100%;
  position: absolute;
  top: 800px;
  padding-top: 63px;
  padding-bottom: 238px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 85, 45, 0)), color-stop(25%, rgba(255, 85, 45, 0.486)), color-stop(76.04%, rgba(255, 85, 45, 0.552)), color-stop(98.49%, rgba(255, 85, 45, 0.036)));
  background: linear-gradient(180deg, rgba(255, 85, 45, 0) 0%, rgba(255, 85, 45, 0.486) 25%, rgba(255, 85, 45, 0.552) 76.04%, rgba(255, 85, 45, 0.036) 98.49%);
}

.qisqacha__big-text {
  margin: 0;
  margin-bottom: 18px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 148.52%;
  color: #2d2d2d;
  text-align: center;
}

.qisqacha__mini-box {
  max-width: 532px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.qisqacha__mini-text {
  margin: 0;
  margin-bottom: 134px;
  font-weight: 700;
  font-size: 18px;
  line-height: 148.52%;
  color: #2d2d2d;
}

.qisqacha__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.qisqacha__items {
  max-width: 145px;
  position: relative;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 124.02%;
  text-align: center;
  color: #ffffff;
}

.qisqacha__items::before {
  content: "";
  display: block;
  width: 129px;
  height: 130px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("/images/2plus.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.qisqacha__items:nth-child(2):before {
  background-image: url("/images/sakkiz.svg");
}

.qisqacha__items:nth-child(3):before {
  background-image: url("/images/100foiz.svg");
}

.qisqacha__items:nth-child(4):before {
  background-image: url("/images/onpLus.svg");
}

@media only screen and (max-width: 1124px) {
  .qisqacha__big-text {
    margin-bottom: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
  }
  .qisqacha__mini-text {
    margin: 0;
    margin-bottom: 94px;
    font-weight: 400;
    font-size: 16px;
  }
  .qisqacha__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .qisqacha__items {
    margin: 2px;
    margin-bottom: 30px;
  }
  .qisqacha__items:nth-child(3) {
    margin-right: 0;
  }
  .qisqacha {
    top: 625px;
    padding-top: 73px;
    padding-bottom: 100px;
  }
}
.xizmatlar {
  margin-top: 28px;
  padding-bottom: 20px;
  background-image: url("/images/xizmatlar-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.xizmatlar__box {
  padding: 47px 0;
  padding-right: 114px;
  margin-right: 110px;
  padding-left: 102px;
  margin-bottom: 58px;
  background: rgba(255, 255, 255, 0.12);
  -webkit-box-shadow: 2px 3px 10px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 3px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 0px 50px 50px 0px;
}

.hizmatlar__big-text {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 148.52%;
  text-align: center;
  color: #ff552d;
}

.xizmatlar__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.xizmatlar__itms {
  width: 475px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
  padding: 20px 40px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #000000;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 33px;
}
.xizmatlar__itms::before {
  content: "";
  width: 90px;
  height: 100px;
  display: block;
  background-image: url("/images/tel-sensr.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.xizmatlar__itms:not(:last-child) {
  margin-right: 22px;
}
.xizmatlar__itms:hover {
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 5px 4px 4px rgba(255, 85, 45, 0.25);
          box-shadow: 5px 4px 4px rgba(255, 85, 45, 0.25);
  border-radius: 33px;
}
.xizmatlar__itms:active {
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 5px 4px 4px rgba(255, 85, 45, 0.25);
          box-shadow: 5px 4px 4px rgba(255, 85, 45, 0.25);
  border-radius: 33px;
}
.xizmatlar__itms:nth-child(2):before {
  width: 100px;
  height: 100px;
  background-image: url("/images/kalendar.svg");
}

.xizmatlar__itms:nth-child(3):before {
  width: 100px;
  height: 100px;
  background-image: url("/images/qalam.svg");
}
.xizmatlar__itms:nth-child(4):before {
  background-image: url("/images/shakl.svg");
}

.aktiv-class {
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 5px 4px 4px rgba(255, 85, 45, 0.25);
          box-shadow: 5px 4px 4px rgba(255, 85, 45, 0.25);
  border-radius: 33px;
}

.xizmatlar__mini-texr {
  margin: 0;
  margin-bottom: 17px;
  padding-left: 23px;
  border-left: 6px solid #ffffff;
  font-weight: 700;
  font-size: 18px;
  color: #2d2d2d;
}

.xizmatlar-text__list {
  margin: 0;
  margin-left: 22px;
  padding: 0;
}

.xizmalar-text-items {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #2d2d2d;
}

.xizmatlar__button {
  display: block;
  width: 325px;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  margin-left: auto;
  padding: 15px 46px;
  background: #ec1c24;
  border-radius: 69px;
  border: none;
  color: #fff;
}

.portfolio {
  padding: 30px 0;
  padding-left: 85px;
  margin-left: 100px;
  margin-bottom: 38px;
  background: rgba(255, 255, 255, 0.12);
  -webkit-box-shadow: 2px 3px 10px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 3px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50px 0px 0px 50px;
}

.portfolio__big-text {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 64px;
  color: #ff552d;
  text-align: center;
}

.portfolio__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  overflow-x: scroll;
}

.portfolio__items {
  margin-right: 47px;
}

.portfolio__img {
  width: 400px;
  height: 223px;
  margin: 0 !important;
}

.portfolio__box-text {
  width: 480px;
}

.portfolio__big-texts {
  display: inline-block;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 31px;
  line-height: 148.52%;
  color: #2d2d2d;
}

.portfolio__smaill-texts {
  margin: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 118.52%;
  color: #6b6b6b;
}

.pachination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pachination__span {
  width: 18px;
  height: 18px;
  margin-top: 105px;
  margin-right: 5px;
  border-radius: 50%;
  background: #2d2d2d;
}

.color-span {
  background: #ff552d;
}

.option__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1300px) {
  .option__box {
    display: block;
  }
  .one-list {
    display: none !important;
  }
  .twoo-list {
    display: none !important;
  }
  .three-list {
    display: none !important;
  }
  .hizmatlar__big-text {
    font-weight: 700;
    font-size: 44px;
    line-height: 128.52%;
  }
  .xizmatlar__box {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 90px;
    margin-bottom: 0px;
    border-radius: 50px 50px 50px 50px;
  }
  .xizmatlar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 800px;
    padding-right: 10px;
    padding-left: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .xizmatlar__itms::before {
    content: "";
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .xizmatlar__itms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 180px;
    margin-right: auto !important;
    margin-left: auto;
    margin-bottom: 20px;
    padding: 5px 27px 14px 27px;
  }
  .xizmatlar__itms:nth-child(1)::before {
    margin-left: 25px;
    margin-right: 0;
  }
  .xizmatlar__box-text {
    margin-left: 0;
  }
  .xizmatlar__mobil-ilova {
    font-weight: 500;
    font-size: 26px;
  }
  .xizmatlar__mini-texr {
    font-weight: 400;
    font-size: 16px;
  }
  .xizmatlar__button {
    width: 280px;
  }
}
@media only screen and (max-width: 724px) {
  .hizmatlar__big-text {
    font-weight: 700;
    font-size: 32px;
  }
  .xizmatlar__box {
    max-width: 350px;
    padding: 10px 20px;
  }
  .xizmatlar__list {
    margin-left: 23px;
  }
  .xizmatlar__itms {
    width: 180px;
    margin-bottom: 14px;
    padding: 5px 15px 10px 10px;
    font-weight: 500;
    font-size: 18px;
  }
  .xizmatlar__itms::before {
    content: "";
    width: 50px !important;
    height: 50px !important;
    margin-left: auto;
    margin-bottom: 16px;
  }
  .xizmatlar__button {
    margin-right: auto;
  }
}
@media only screen and (max-width: 1300px) {
  .portfolio {
    max-width: 700px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 90px;
    margin-bottom: 0px;
    border-radius: 50px 50px 50px 50px;
  }
  .portfolio__big-text {
    font-weight: 700;
    font-size: 44px;
    line-height: 128.52%;
  }
  .portfolio__img {
    width: 400px;
    height: 243px;
  }
  .portfolio__big-texts {
    font-weight: 500;
    font-size: 26px;
  }
  .portfolio__smaill-texts {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 50px;
  }
  .pachination__span {
    margin-top: 60px;
  }
}
.href-box {
  display: block;
  width: 400px;
  height: 223px;
  padding: 10px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 5px 4px 4px rgba(255, 85, 45, 0.3);
          box-shadow: 5px 4px 4px rgba(255, 85, 45, 0.3);
  border-radius: 33px;
}

.img-invalid {
  width: 381px;
  height: 203px;
  border-radius: 33px;
}

@media only screen and (max-width: 725px) {
  .portfolio {
    max-width: 350px;
    padding: 10px 20px;
  }
  .portfolio__big-text {
    font-weight: 700;
    font-size: 32px;
  }
  .portfolio__img {
    width: 302px;
    height: 165px;
  }
  .href-box {
    width: 302px;
    height: 165px;
  }
  .img-invalid {
    width: 282px;
    height: 145px;
  }
  .portfolio__items {
    margin-right: 17px;
  }
  .portfolio__smaill-texts {
    width: 300px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 50px;
  }
  .pachination__span {
    display: none;
  }
}
.haqimizda {
  padding-top: 73px;
  padding-bottom: 127px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 85, 45, 0)), color-stop(25%, rgba(255, 85, 45, 0.486)), color-stop(76.04%, rgba(255, 85, 45, 0.552)), color-stop(98.49%, rgba(255, 85, 45, 0.036)));
  background: linear-gradient(180deg, rgba(255, 85, 45, 0) 0%, rgba(255, 85, 45, 0.486) 25%, rgba(255, 85, 45, 0.552) 76.04%, rgba(255, 85, 45, 0.036) 98.49%);
}

.haqimizda__big-text {
  margin: 0;
  font-weight: 700;
  font-size: 64px;
  line-height: 148.52%;
  color: #2d2d2d;
  text-align: center;
}

.haqimizda__big-boss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.haiqmizda__img-box {
  position: relative;
}

.haqimizda__bizesman {
  position: absolute;
  width: 234px;
  height: 234px;
  top: -32px;
  left: 20px;
}

.haqimizda__malakali {
  position: absolute;
  width: 234px;
  height: 234px;
  top: 262px;
  left: 238px;
}

.haqimizda__loyiha {
  position: absolute;
  width: 234px;
  height: 234px;
  top: 24px;
  left: 562px;
}

.haqimizda__mini-text-box {
  width: 454px;
  margin-left: auto;
}

.haqimizda__mini-tekst {
  font-weight: 600;
  font-size: 22px;
  line-height: 148.52%;
  color: #ffffff;
}

@media only screen and (max-width: 1301px) {
  .haqimizda__big-boss {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .haiqmizda__img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .haqimizda__malakali {
    position: static;
    width: 200px;
    height: 200px;
  }
  .haqimizda__bizesman {
    position: static;
    width: 200px;
    height: 200px;
  }
  .haqimizda__loyiha {
    position: static;
    width: 200px;
    height: 200px;
  }
  .haqimizda__mini-text-box {
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
  }
  .haqimizda__big-text {
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 44px;
    line-height: 128.52%;
  }
  .haqimizda__mini-tekst {
    font-weight: 400;
    font-size: 16px;
  }
}
@media only screen and (max-width: 724px) {
  .haiqmizda__img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media only screen and (max-width: 446px) {
  .haqimizda__malakali {
    width: 150px;
    height: 150px;
  }
  .haqimizda__bizesman {
    width: 150px;
    height: 150px;
  }
  .haqimizda__loyiha {
    width: 150px;
    height: 150px;
  }
}
.aloqa {
  padding-bottom: 1px;
  background-image: url("/images/bg-from.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.aloqa__big-wrapper {
  margin-right: 110px;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 39px;
  padding-bottom: 50px;
  background: rgba(255, 255, 255, 0.12);
  -webkit-box-shadow: 2px 3px 10px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 3px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 0px 50px 50px 0px;
}

.aloqa__big-text {
  margin: 0;
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 44px;
  line-height: 148.52%;
  color: #ff552d;
  text-align: center;
}

.aloqa__big-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aloqa__mini-box-one {
  max-width: 617px;
  margin-top: 47px;
  margin-right: 53px;
}

.aloqa__mini-tex {
  margin: 0;
  margin-bottom: 83px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 148.52%;
  color: #000000;
}

.aloqa__tel-email-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aloqa__img-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aloqa__img-tel::before {
  content: "";
  display: block;
  width: 66px;
  height: 66px;
  margin-right: 12px;
  background-image: url("/images/oq-tel.svg");
  border-radius: 20px;
  -webkit-box-shadow: 5px 4px 4px rgba(255, 85, 45, 0.25);
          box-shadow: 5px 4px 4px rgba(255, 85, 45, 0.25);
}

.aloqa__img-telegram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aloqa__img-telegram::before {
  content: "";
  display: block;
  width: 66px;
  height: 66px;
  margin-right: 12px;
  background-image: url("/images/telegramOqFon.svg");
  border-radius: 20px;
  -webkit-box-shadow: 5px 4px 4px rgba(255, 85, 45, 0.25);
          box-shadow: 5px 4px 4px rgba(255, 85, 45, 0.25);
}

.aloqa__tel-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aloqa__tel-text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.aloqa__tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #252525;
  text-decoration: none;
}

.aloqa__email-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aloqa__email-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.aloqa__email-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 59px;
}
.aloqa__email-img::before {
  content: "";
  width: 66px;
  height: 66px;
  display: block;
  margin-right: 12px;
  background-image: url("/images/oq-email.svg");
  background-repeat: no-repeat;
  -webkit-box-shadow: 5px 4px 4px rgba(255, 85, 45, 0.25);
          box-shadow: 5px 4px 4px rgba(255, 85, 45, 0.25);
  border-radius: 18px;
}

.aloqa__instagram-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 59px;
}
.aloqa__instagram-img::before {
  content: "";
  width: 66px;
  height: 66px;
  display: block;
  margin-right: 12px;
  background-image: url("/images/instagramOqFon.svg");
  background-repeat: no-repeat;
  -webkit-box-shadow: 5px 4px 4px rgba(255, 85, 45, 0.25);
          box-shadow: 5px 4px 4px rgba(255, 85, 45, 0.25);
  border-radius: 18px;
}

.aloqa__email {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #252525;
  text-decoration: none;
}

.aloqa__form-box {
  padding: 36px 37px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 5px 4px 4px rgba(255, 85, 45, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 5px 4px 4px rgba(255, 85, 45, 0.25);
  border-radius: 33px;
}

.aloqa__form-text {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 148.52%;
  color: #000000;
}

.aloqa__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aloqa__form-input {
  max-width: 447px;
  margin-bottom: 10px;
  padding: 18px 11px;
  border: 1px solid #6b6b6b;
  border-radius: 12px;
}
.aloqa__form-input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 148.52%;
  color: #6b6b6b;
}
.aloqa__form-input::-moz-placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 148.52%;
  color: #6b6b6b;
}
.aloqa__form-input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 148.52%;
  color: #6b6b6b;
}
.aloqa__form-input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 148.52%;
  color: #6b6b6b;
}
.aloqa__form-input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 148.52%;
  color: #6b6b6b;
}

.aloqa__textarea {
  width: 447px;
  height: 137px;
  padding: 12px;
  border: 1px solid #6b6b6b;
  border-radius: 12px;
  resize: none;
}

@media only screen and (max-width: 1324px) {
  .aloqa__mini-box-one {
    display: none;
  }
  .aloqa__big-wrapper {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0px;
    padding: 0;
    margin: 0;
  }
  .aloqa__form-box {
    max-width: 750px;
    margin-right: auto;
    margin-left: auto;
  }
  .aloqa__big-text {
    font-weight: 700;
    font-size: 44px;
    line-height: 128.52%;
  }
}
@media only screen and (max-width: 724px) {
  .aloqa__form-box {
    max-width: 350px;
    padding: 36px 47px;
  }
  .aloqa__big-text {
    font-weight: 700;
    font-size: 44px;
    line-height: 128.52%;
  }
  .aloqa__textarea {
    width: 260px;
    height: 187px;
  }
  .aloqa__big-text {
    font-weight: 700;
    font-size: 32px;
    margin-top: 20px;
  }
}
.form__button {
  display: block;
  max-width: 290px;
  margin-left: auto;
  margin-top: 40px;
  padding: 13px 35px;
  font-weight: 500;
  font-size: 20px;
  line-height: 148.52%;
  color: #2d2d2d;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 2px 2px 11px 1px #ff552d;
          box-shadow: 2px 2px 11px 1px #ff552d;
  border-radius: 10px;
}

.savollar {
  padding: 35px;
  background-repeat: no-repeat;
  background-size: cover;
}

.savollar__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 21px;
  padding-bottom: 31px;
  padding-right: 12px;
  padding-left: 12px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 5px 4px 4px rgba(255, 85, 45, 0.5);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 5px 4px 4px rgba(255, 85, 45, 0.5);
  border-radius: 50px;
}

.savoollar-img-box {
  width: 305px;
  height: 305px;
  margin-right: auto;
  margin-left: auto;
}

.savollar-img {
  border-radius: 53%;
}

.savollar-text-box {
  max-width: 527px;
  margin-right: auto;
  margin-left: auto;
}

.savollar-text-big {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 36px;
  line-height: 148.52%;
  color: #000000;
}

.accordion-item {
  margin-bottom: 20px !important;
  border-radius: 20px !important;
  background: rgba(255, 255, 255, 0.5) !important;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 5px 4px 4px rgba(255, 85, 45, 0.5) !important;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 5px 4px 4px rgba(255, 85, 45, 0.5) !important;
}

.accordion-button {
  border-radius: 20px !important;
}

.accordion-button:focus {
  z-index: 3;
  /* border-color: var(--bs-accordion-btn-focus-border-color); */
  /* outline: 0; */
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  color: darkorange !important;
  background-color: transparent !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(/images/strelka.svg);
  background-size: 15px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1100px) {
  .savoollar-img-box {
    display: none;
  }
}
@media screen and (max-width: 721px) {
  .savollar-text-big {
    font-weight: 500;
    font-size: 21px !important;
    text-align: center;
  }
  .savollar-text-big {
    font-weight: 500;
    font-size: 26px;
    text-align: center;
  }
  .savollar-text-box {
    max-width: 297px;
    margin-right: auto;
    margin-left: auto;
  }
  .accordion-button {
    font-size: 12px !important;
  }
}
.food__header {
  padding: 70px 0;
  background: #000000;
  border-bottom: 2px solid #fff;
}

.food__header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.food__header__items {
  margin-right: 32px;
}

.food__header-img {
  max-width: 180px;
}

@media only screen and (max-width: 1324px) {
  .food__header {
    display: none;
  }
}
.footer {
  padding-top: 157px;
  padding-bottom: 40px;
  background: #000000;
}

.footer__big-Bos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__logo-box {
  width: 200px;
  margin-right: 175px;
}

.footer__logo {
  width: 145px;
  margin-bottom: 33px;
}

.footer__email {
  display: inline-block;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 148.52%;
  color: #a6a6a6;
  text-decoration: none;
}

.footer__adres {
  font-weight: 400;
  font-size: 16px;
  line-height: 148.52%;
  color: #a6a6a6;
  text-decoration: none;
}

.footer__icon-list {
  list-style: none;
  margin: 0;
  margin-top: 50px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icon-items {
  margin-right: 16px;
}

.footer__kompaniya {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 153px;
}

.footer__kompaniya-text {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 148.52%;
  color: #f2f2f2;
}

.footer__kompaniya-href {
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 148.52%;
  color: #a6a6a6;
}

.footer__xizmatlar {
  margin-right: 168px;
}

.footer__xizmatlar-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 148.52%;
  color: #f2f2f2;
}

.footr__list {
  list-style: none;
  margin: 0;
  margin-top: 40px;
  padding: 0;
}

.footer__items {
  margin-bottom: 10px;
}

.footer__items-href {
  font-weight: 400;
  font-size: 16px;
  line-height: 148.52%;
  text-decoration: none;
  color: #a6a6a6;
}

.footer__qushimcha-text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 148.52%;
  color: #f2f2f2;
}

.footer__qushimcha-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.footer__qushimcha-items {
  margin-bottom: 10px;
}

.footer__buton {
  display: block;
  width: 58px;
  height: 58px;
  margin-left: auto;
  background: #ff552d;
  -webkit-box-shadow: 0px 0px 18px #ff552d;
          box-shadow: 0px 0px 18px #ff552d;
  border: none;
  border-radius: 50%;
  background-image: url("/images/strelka-tepaga.svg");
  background-repeat: no-repeat;
  background-size: 23px 18px;
  background-position: center;
}

.footer__after {
  text-align: center;
  font-weight: 400;
  font-size: 11px;
  line-height: 148.52%;
  color: #a6a6a6;
}

.footer__mini-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1264px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 40px;
    background: #000000;
  }
  .footer__big-Bos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__logo-box {
    max-width: 200px;
    margin-right: 75px;
  }
  .footer__logo {
    max-width: 145px;
    margin-bottom: 26px;
  }
  .footer__email {
    display: inline-block;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 148.52%;
    color: #a6a6a6;
    text-decoration: none;
  }
  .footer__adres {
    font-weight: 400;
    font-size: 16px;
    line-height: 148.52%;
    color: #a6a6a6;
    text-decoration: none;
  }
  .footer__icon-items {
    margin-right: 16px;
  }
  .footer__kompaniya-text {
    margin-bottom: 30px;
  }
  .footer__xizmatlar {
    margin-right: 118px;
  }
  .footr__list {
    margin-top: 30px;
  }
  .footer__items {
    margin-bottom: 10px;
  }
  .footer__after {
    text-align: center;
    font-weight: 400;
    font-size: 11px;
    line-height: 148.52%;
    color: #a6a6a6;
  }
}
.footer__big-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1110px) {
  .footer__big-Bos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__kompaniya {
    margin-right: 0;
  }
  .footer__icon-list {
    display: none;
  }
  .footer__logo-box {
    margin-right: 0;
  }
  .footer__big-wrapper {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__logo-box {
    margin-right: 118px;
  }
  .footer__mini-box {
    width: 100%;
    margin-top: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media only screen and (max-width: 544px) {
  .footer__items-href {
    font-weight: 400;
    font-size: 16px;
  }
  .footer__xizmatlar-text {
    font-weight: 700;
    font-size: 16px;
  }
  .footer__xizmatlar-text {
    font-weight: 700;
    font-size: 16px;
  }
  .footer__logo-box {
    margin-right: 30px;
  }
  .footer__xizmatlar {
    margin-right: 28px;
  }
  .footer__buton {
    margin-bottom: 30px;
  }
}/*# sourceMappingURL=main.css.map */