.haqimizda {
  padding-top: 73px;
  padding-bottom: 127px;
  background: linear-gradient(
    180deg,
    rgba(255, 85, 45, 0) 0%,
    rgba(255, 85, 45, 0.486) 25%,
    rgba(255, 85, 45, 0.552) 76.04%,
    rgba(255, 85, 45, 0.036) 98.49%
  );
}
.haqimizda__big-text {
  margin: 0;
  font-weight: 700;
  font-size: 64px;
  line-height: 148.52%;
  color: #2d2d2d;
  text-align: center;
}
.haqimizda__big-boss {
  display: flex;
}
.haiqmizda__img-box {
  position: relative;
}
.haqimizda__bizesman {
  position: absolute;
  width: 234px;
  height: 234px;
  top: -32px;
  left: 20px;
}
.haqimizda__malakali {
  position: absolute;
  width: 234px;
  height: 234px;
  top: 262px;
  left: 238px;
}
.haqimizda__loyiha {
  position: absolute;
  width: 234px;
  height: 234px;
  top: 24px;
  left: 562px;
}
.haqimizda__mini-text-box {
  width: 454px;
  margin-left: auto;
}
.haqimizda__mini-tekst {
  font-weight: 600;
  font-size: 22px;
  line-height: 148.52%;
  color: #ffffff;
}
