.site-header {
  padding-top: 5px;
  padding-bottom: 5px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 174, 26, 0.3) 100%
  );
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
}
.header__logo-href {
  display: inline-block;
}
.header__logo-img {
  max-width: 196px;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__item {
  margin-right: 37px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
}
.header__box {
  display: flex;
  align-items: center;
}
.header__box-tel {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header__box-before {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__box-before::before {
  content: "";
  display: block;
  width: 36px;
  height: 38px;
  margin-right: 16px;
  background-image: url("/images/tel.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.header__murojat {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #737373;
}
.header__language-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 27px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  border: none;
  background: none;
}
.header__language-button::before {
  content: "";
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 10px;
  background-image: url("/images/bayroq-uzbekistan.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header__tel {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #252525;
  text-decoration: none;
}

@media only screen and (max-width: 1330px) {
  .header__item {
    margin-right: 27px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }
  .header__language-button {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }

  .header__murojat {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }
  .header__tel {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }
  .header__logo-img {
    max-width: 150px;
  }
  .header__logo-href {
    margin-right: 40px;
  }
}

@media only screen and (max-width: 1140px) {
  .header__box-before {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .header__list {
    align-items: flex-start;
    margin-top: 10px;
  }
  .header__box-before {
    display: flex;
  }
  .header__box {
    flex-direction: column;

    align-items: flex-start;
  }
}
