.hero {
  padding-top: 80px;
  padding-bottom: 915px;

  position: relative;
}
.hero__mini-animatiya-box {
  position: absolute;
  top: calc(-1%);
  left: 0%;
  z-index: -1;
  width: 100%;
  height: 50%;
  background-image: url("/images/nuqtalar_kam-ongTomon.svg"),
    url("/images/nuqtalar_kup_chapTomon.svg");
  background-repeat: repeat-x;
  background-position: center, 10% 70%;
  animation: yulduzli infinite 4s reverse;
}

.hero__mini-animatiya-big-box {
  position: absolute;
  top: calc(-1%);
  left: 0%;
  z-index: -1;
  width: 100%;
  height: 100%;

  background-image: url("/images/katta_nuqtalar.svg");
  background-repeat: no-repeat;
  background-position: 0 40px;
  background-size: 100%;
  animation: bigNuqta infinite 5s alternate-reverse;
}

@keyframes bigNuqta {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
  from {
    background-position: 0% 10%;
  }
  to {
    background-position: 0% 100%;
  }
  // from {
  //   background-position: 0% 70%;
  // }
  // to {
  //   background-position: 0% 10%;
  // }
}
@keyframes yulduzli {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
  from {
    background-position: 65% 50%;
  }
  to {
    background-position: 100% 100%;
  }
}

.hero__box {
  max-width: 547px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.hero__onvite-text {
  margin: 0;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 900;
  font-size: 95px;
  line-height: 110.5%;
}
.hero__onvite {
  font-weight: 900;
  font-size: 100px;
  color: #ff552d;
}
.hero__digital {
  font-size: 136px;
}
.hero__solution {
  font-size: 90px;
}
.hero__mini-text {
  display: inline-block;
  margin-bottom: 23px;
  font-weight: 900;
  font-size: 26px;
  line-height: 111.5%;
}
.hero__mini-text::after {
  content: "";
  width: 25px;
  height: 44px;
  margin-top: 23px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  background-image: url("/images/strelka.svg");
  background-repeat: no-repeat;
  background-size: contain;
  animation: anni 3s infinite;
}

@keyframes anni {
  0%,
  100% {
    transform: translateY(25px);
  }

  50% {
    transform: translateY(0);
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 174, 26, 0.3) 100%
  );
}

::-webkit-scrollbar-thumb {
  background-color: #ff552d;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1f1d2b;
}
@media only screen and (max-width: 1124px) {
  .hero {
    padding-bottom: 1087px;
  }
}
@media only screen and (max-width: 720px) {
  .hero__onvite-text {
    margin-bottom: 60px;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 111.5%;
  }

  .hero__onvite {
    font-weight: 700;
    font-size: 60px;
    color: #ff552d;
  }
  .hero__digital {
    font-size: 80px;
  }

  .hero__solution {
    font-size: 50px;
  }
  .hero__mini-text {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 26px;
    line-height: 111.5%;
  }
  .hero {
    padding-top: 110px;
    padding-bottom: 1275px;
    position: relative;
  }
}
@media only screen and (max-width: 420px) {
  .hero__onvite-text {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 60px;
  }

  .hero__onvite {
    font-weight: 400;
    font-size: 40px;
    color: #ff552d;
  }
  .hero__digital {
    font-size: 70px;
  }

  .hero__solution {
    font-size: 40px;
  }
  .hero__mini-text {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 20px;
    line-height: 111.5%;
  }
  .hero {
    padding-top: 110px;
    padding-bottom: 1386px;
    position: relative;
  }
}
