.qisqacha {
  width: 100%;
  position: absolute;
  top: 800px;
  padding-top: 63px;
  padding-bottom: 238px;
  background: linear-gradient(
    180deg,
    rgba(255, 85, 45, 0) 0%,
    rgba(255, 85, 45, 0.486) 25%,
    rgba(255, 85, 45, 0.552) 76.04%,
    rgba(255, 85, 45, 0.036) 98.49%
  );
}

.qisqacha__big-text {
  margin: 0;
  margin-bottom: 18px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 148.52%;
  color: #2d2d2d;
  text-align: center;
}
.qisqacha__mini-box {
  max-width: 532px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.qisqacha__mini-text {
  margin: 0;
  margin-bottom: 134px;
  font-weight: 700;
  font-size: 18px;
  line-height: 148.52%;
  color: #2d2d2d;
}
.qisqacha__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.qisqacha__items {
  max-width: 145px;
  position: relative;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 124.02%;
  text-align: center;
  color: #ffffff;
}
.qisqacha__items::before {
  content: "";
  display: block;
  width: 109px;
  height: 109px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("/images/2plus.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.qisqacha__items:nth-child(2):before {
  background-image: url("/images/sakkiz.svg");
}
.qisqacha__items:nth-child(3):before {
  background-image: url("/images/100foiz.svg");
}
.qisqacha__items:nth-child(4):before {
  background-image: url("/images/onpLus.svg");
}

@media only screen and (max-width: 1124px) {
  .qisqacha__big-text {
    margin-bottom: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
  }
  .qisqacha__mini-text {
    margin: 0;
    margin-bottom: 94px;
    font-weight: 400;
    font-size: 16px;
  }
  .qisqacha__list {
    align-items: center;
    flex-direction: column;
  }

  .qisqacha__items {
    margin: 2px;
    margin-bottom: 30px;
  }
  .qisqacha__items:nth-child(3) {
    margin-right: 0;
  }
  .qisqacha {
    top: 625px;
    padding-top: 73px;
    padding-bottom: 100px;
  }
}
