.xizmatlar {
  margin-top: 28px;
  background-image: url("/images/xizmatlar-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.xizmatlar__box {
  padding: 47px 0;
  padding-right: 114px;
  margin-right: 110px;
  padding-left: 102px;
  margin-bottom: 58px;
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 2px 3px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 0px 50px 50px 0px;
}
.hizmatlar__big-text {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 148.52%;
  text-align: center;
  color: #ff552d;
}
.xizmatlar__list {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
  margin-top: 10px;
  margin-left: 58px;
  margin-bottom: 21px;
  padding: 0;
  list-style: none;
}
.xizmatlar__itms {
  padding: 5px 47px 24px 47px;

  font-weight: 700;
  font-size: 20px;
  line-height: 100.52%;
  text-align: center;
  color: #000000;

  &::before {
    content: "";

    width: 120px;
    height: 120px;
    margin-left: 40px;
    margin-bottom: 20px;
    display: block;
    background-image: url("/images/tel-sensr.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  &:not(:last-child) {
    margin-right: 22px;
  }
  &:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 4px 4px rgba(255, 85, 45, 0.25);
    border-radius: 33px;
  }
  &:active {
    box-shadow: 5px 6px 8px rgba(255, 85, 45, 0.25);
  }
}

.aktiv-class {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 4px 4px rgba(255, 85, 45, 0.25);
  border-radius: 33px;
}

.xizmatlar__itms {
  &:nth-child(2):before {
    margin-left: 0;
    background-image: url("/images/qalam.svg");
  }
  &:nth-child(3):before {
    margin-left: 0;

    background-image: url("/images/kalendar.svg");
  }
  &:nth-child(4):before {
    margin-left: 0;

    background-image: url("/images/shakl.svg");
  }
}
.xizmatlar__box-text {
  max-width: 1009px;
  margin-left: 110px;
}
.xizmatlar__mobil-ilova {
  display: inline-block;
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 36px;
  line-height: 148.52%;
  color: #000000;
}
.xizmatlar__mini-texr {
  margin: 0;
  margin-bottom: 22px;
  font-weight: 500;
  font-size: 24px;
  line-height: 148.52%;
  color: #6b6b6b;
}
.xizmatlar__button {
  display: block;
  width: 375px;
  margin-left: auto;
  padding: 22px 66px;
  background: #ec1c24;
  border-radius: 69px;
  border: none;
  color: #fff;
}

.portfolio {
  padding: 40px 0;
  padding-left: 85px;
  margin-left: 100px;
  margin-bottom: 38px;
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 2px 3px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50px 0px 0px 50px;
}

.portfolio__big-text {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 64px;
  line-height: 148.52%;
  color: #ff552d;
  text-align: center;
}

.portfolio__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: start;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-align: inherit;
}
.portfolio__items {
  margin-right: 47px;
}
.portfolio__img {
  width: 480px;
  height: 223px;
}
.portfolio__box-text {
  width: 480px;
}

.portfolio__big-texts {
  display: inline-block;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 36px;
  line-height: 148.52%;
  color: #2d2d2d;
}
.portfolio__smaill-texts {
  margin: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 148.52%;
  color: #6b6b6b;
}
.pachination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pachination__span {
  width: 18px;
  height: 18px;
  margin-top: 105px;
  margin-right: 5px;
  border-radius: 50%;
  background: #2d2d2d;
}
.color-span {
  background: #ff552d;
}

@media only screen and (max-width: 1300px) {
  .hizmatlar__big-text {
    font-weight: 700;
    font-size: 44px;
    line-height: 128.52%;
  }
  .xizmatlar__box {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 90px;
    margin-bottom: 0px;
    border-radius: 50px 50px 50px 50px;
  }
  .xizmatlar__list {
    max-width: 800px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .xizmatlar__itms {
    margin-right: 20px !important;
    margin-bottom: 20px;
    padding: 5px 27px 14px 27px;
  }
  .xizmatlar__itms::before {
    content: "";
    width: 100px;
    height: 100px;
    margin-left: 25px;
    margin-bottom: 20px;
  }

  .xizmatlar__box-text {
    margin-left: 0;
  }
  .xizmatlar__mobil-ilova {
    font-weight: 500;
    font-size: 26px;
  }
  .xizmatlar__mini-texr {
    font-weight: 400;
    font-size: 16px;
  }
  .xizmatlar__button {
    width: 280px;
  }
}

@media only screen and (max-width: 724px) {
  .hizmatlar__big-text {
    font-weight: 700;
    font-size: 32px;
  }
  .xizmatlar__box {
    max-width: 350px;
    padding: 10px 20px;
  }
  .xizmatlar__list {
    margin-left: 23px;
  }
  .xizmatlar__itms {
    margin-right: 10px !important;
    margin-bottom: 14px;
    padding: 5px 15px 10px 10px;
    font-weight: 700;
    font-size: 20px;
    &:nth-child(3) {
      margin-left: 10px;
    }
  }
  .xizmatlar__itms::before {
    content: "";
    width: 70px;
    height: 70px;
    margin-left: 25px;
    margin-bottom: 16px;
  }
  .xizmatlar__button {
    margin-right: auto;
  }
}
// width: 40px;
// overflow-x: scroll;

@media only screen and (max-width: 1300px) {
  .portfolio {
    max-width: 700px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 90px;
    margin-bottom: 0px;
    border-radius: 50px 50px 50px 50px;
  }
  .portfolio__big-text {
    font-weight: 700;
    font-size: 44px;
    line-height: 128.52%;
  }
  .portfolio__img {
    width: 400px;
    height: 243px;
  }
  .portfolio__big-texts {
    font-weight: 500;
    font-size: 26px;
  }
  .portfolio__smaill-texts {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 50px;
  }
  .pachination__span {
    margin-top: 60px;
  }
}
@media only screen and (max-width: 725px) {
  .portfolio {
    max-width: 350px;
    padding: 10px 20px;
  }
  .portfolio__big-text {
    font-weight: 700;
    font-size: 32px;
  }
  .portfolio__img {
    width: 312px;
    height: 165px;
  }

  .portfolio__smaill-texts {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 50px;
  }
  .pachination__span {
    display: none;
  }
}
